{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Contact
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="row mt-4">
			<div class="col mt-5">
				<img src="/images/default/support-img.png">
			</div>
			<div class="col">
				{% for message in app.flashes('success') %}
					<div class="alert alert-success mt-4">
						{{ message }}
					</div>
				{% endfor %}

				{% for message in app.flashes('danger') %}
					<div class="alert alert-success mt-4">
						{{ message }}
					</div>
				{% endfor %}

				<h1 class="mt-4">Entrer en contact</h1>
				{{ form(form) }}
			</div>
		</div>
	</div>
	{% endblock %}
